<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div>
      <form method="post" action="/sayit">
        <input size="44" name="text" tabindex="1" autofocus type="text" placeholder="say something..." />
        <button>Say it</button>
      </form>
    </div>
  </body>
</html>
