<!DOCTYPE html>
<html>
  <head>
    <title>Say it loud</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Say it loud!</h1>
    <div>
      <form method="post" action="/sayit">
        <input size="44" name="text" tabindex="1" autofocus type="text" placeholder="type something..." />
        <button>RUN</button>
      </form>
    </div>
  </body>
</html>
